.cart{
    background-color: rgb(202, 194, 194);
    border-radius: 8px;
    height: 750px;
    margin-left: -10px;
    position: sticky;
    top: 0;
}
.cart h6{
    font-weight: 700;
    color: red;
    padding-top: 20px;
    text-align: center;
    font-size: 21px;
    padding-left: 2px;
    color: rgb(71, 70, 70);
}
.choose-btn-container button{
    margin-left:15px;
    font-size: 14px;
}
.choose-1btn{
  color: green;
}
.choose-1btn:hover{
    background-color: green ;
    color: white;
    border: none;
    border-radius: 3px;
}

.choose-againBtn{
  color: darkmagenta;
}
.choose-againBtn:hover{
    border: none;
    border-radius: 3px;
  color: white;
  background-color: goldenrod;
}