.product{
  height: 300px;
  width: 200px; 
  border-radius:8px;
  background-color: aliceblue;
  position: relative;
  margin-top: 20px;
}
.product img{
  padding: 6px;
  padding-right: 6px;
  width: 188px;
  height: 180px;
}
.product-info{
  margin-left: 12px;
}
.product h4{
  margin-top: 7px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0.0015em;
  color: #0E161A;
}
.btn-cart{
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  background: #FFE0B3;
  border-radius: 0px 0px 8px 8px;
  border: none;
  bottom: 0px;
  position: absolute;
  padding: 6px;
}
.product button:hover{
  background-color:orange;
  color: white;
}
