.header{
    text-align: center;
    background:#d8d8d5;
    color:goldenrod;
    font-size: 30px;
    padding-top: 10px ;
    padding-bottom :10px;

}
.header p{
    font-size: 28px;
    color: green;
}
.shop-icon{
    margin-left: 13px;
}